

/* .center {
    margin: 0;
    margin-bottom: 40px;
    min-height: 100vh;
    position: relative;
  }

.footerDiv{
   position:absolute;
   left:0px;
   bottom:0px;
   width:100%;
   height: 40px;
} */